<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button id="notification-button" size="mini" (click)="presentPopover()">
      <span style="color: white;font-weight: bold;">{{appService.selectedMenus.length}}</span>
      <!-- <ion-icon name="ellipsis-horizontal-outline">
      </ion-icon> -->
    </ion-button>
  </ion-fab>
  <ion-item>
    <!-- <ion-badge id="notifications-badge" color="danger">5</ion-badge> -->
    <ion-label position="stacked">ใส่ชื่อ เมนู</ion-label>
    <ion-input placeholder="เช่น ข้าวขาหมู, ก๋วยเตี๋ยว" (keyup)="onChangeFilter()" [(ngModel)]="filter"></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm> ชื่อ</ion-col>
      <ion-col style="text-align: right;"> ปริมาณ </ion-col>
      <ion-col> แคลอรี่ </ion-col>
      <ion-col style="justify-content: center;"> เพิ่ม </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="height: calc(100vh - 155px);overflow: auto;">
    <ng-container *ngFor="let item of filteredMenus;let index=index">
      <ion-row *ngIf="index%2==0" style="background-color: #95D1CC;">
        <ion-col size="6" size-sm style="text-align: left;font-weight: bold;"> {{item.name}} </ion-col>
        <ion-col style="text-align: left;"> {{item.unit}} </ion-col>
        <ion-col style="text-align: right;"> {{item.cal}} </ion-col>
        <ion-col>
          <ion-button color="light" (click)="onAddMenus(item)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="index%2==1" style="background-color: #F6F2D4;">
        <ion-col size="6" size-sm style="text-align: left;font-weight: bold;"> {{item.name}} </ion-col>
        <ion-col style="text-align: left;"> {{item.unit}} </ion-col>
        <ion-col style="text-align: right;"> {{item.cal}} </ion-col>
        <ion-col>
          <ion-button color="light" (click)="onAddMenus(item)">
            <ion-icon name="add"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
